---
import { fetchUserRepos } from "../lib/github";
import {
    Card,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "./ui/card";
import { Circle, Star, GitFork } from "lucide-react";
import { Badge } from "./ui/badge";

interface Props {
    repo: Awaited<ReturnType<typeof fetchUserRepos>>[number];
}

const { repo } = Astro.props;

// https://github.com/ozh/github-colors/blob/master/colors.json
const languageColours: Record<string, string> = {
    JavaScript: "#f1e05a",
    TypeScript: "#3178c6",
    Java: "#b07219",
    Kotlin: "#A97BFF",
    Astro: "#ff5a03",
};

const repoLanguageColour = repo.language
    ? languageColours[repo.language]
    : null;
---

<Card>
    <CardHeader className="pb-4">
        <CardTitle className="flex shrink items-center truncate text-lg">
            <a
                href={repo.html_url}
                class="hover:underline"
                target="_blank"
                rel="noopener noreferrer"
            >
                {repo.name}
            </a>
            {
                repo.archived && (
                    <Badge variant="destructive" className="ml-4">
                        Archived
                    </Badge>
                )
            }
        </CardTitle>
        <CardDescription className="h-10 min-h-10 overflow-hidden">
            <p class="line-clamp-2 text-ellipsis">{repo.description}</p>
        </CardDescription>
    </CardHeader>
    <CardFooter className="text-muted-foreground gap-4 text-xs">
        {
            repo.language && (
                <div class="flex items-center" title="Language">
                    {repoLanguageColour && (
                        <Circle
                            className="mr-1 size-3"
                            style={{
                                color: repoLanguageColour,
                                fill: repoLanguageColour,
                            }}
                        />
                    )}
                    <a
                        target="_blank"
                        href={`${repo.html_url}/search?l=${repo.language.toLowerCase()}`}
                        rel="noopener noreferrer"
                        class="hover:underline"
                    >
                        {repo.language}
                    </a>
                </div>
            )
        }

        <div class="flex items-center" title="Stars">
            <Star className="mr-1 size-3" />
            {repo.stargazers_count}
            <span class="sr-only">Stars</span>
        </div>

        <div class="flex items-center" title="Forks">
            <GitFork className="mr-1 size-3" />
            {repo.forks_count}
            <span class="sr-only">Forks</span>
        </div>
    </CardFooter>
</Card>
