---
import { Button } from "./ui/button";
import { Image } from "astro:assets";
import { Card } from "./ui/card";

interface Props {
    url: string;
    name: string;
    description: string;
    image?: ImageMetadata;
}

const { url, name, description, image } = Astro.props;
const [company] = name.split(" - ");
---

<Card className="flex flex-col p-6 sm:flex-row">
    {
        image && (
            <Image
                src={image}
                alt={`${company} Logo`}
                height="60"
                width="60"
                class="bg-grey-900 mr-6 items-center object-contain"
            />
        )
    }

    <div class="mt-2 space-y-1 sm:mt-0">
        <h1 class="text-balance text-lg font-semibold sm:text-wrap">{name}</h1>
        <p class="text-balance text-sm text-muted-foreground sm:text-wrap">
            {description}
        </p>
        <a href={url} target="_blank" rel="noopener noreferrer">
            <Button variant="secondary" className="mt-3 text-sm"
                >View Referral</Button
            >
        </a>
    </div>
</Card>
