---
import {
    Card,
    CardContent,
    CardDescription,
    CardHeader,
    CardTitle,
} from "./ui/card";
import { Button } from "./ui/button";

interface Props {
    url: string;
    name: string;
    description: string;
    image?: string;
}

const { url, name, description, image } = Astro.props;
---

<Card className="flex flex-col sm:flex-row">
    {
        image && (
            <img
                src={image}
                alt={name}
                height="60"
                width="60"
                class="ml-4 mt-4 object-contain sm:ml-8 sm:mt-0"
            />
        )
    }

    <div class="w-full flex-col">
        <CardHeader>
            <CardTitle>{name}</CardTitle>
        </CardHeader>
        <CardContent>
            <CardDescription>{description}</CardDescription>
            <Button className="mt-4" variant="outline">
                <a href={url} target="_blank">View Referral</a>
            </Button>
        </CardContent>
    </div>
</Card>
