---
import "~/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import TailwindIndicator from "~/components/TailwindIndicator.astro";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;

const logoURL = new URL("/logo.png", Astro.url);

const parsedTitle = title ? `${title} - Seren_Modz 21` : "Seren_Modz 21";
const parsedDescription =
    description ??
    "Welcome to Seren Modz's personal site! Here, you can find information about him, his projects, and more.";
---

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };

    const isDark = getThemePreference() === "dark";
    document.documentElement.classList.toggle("dark", isDark);

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });

        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }

    // https://docs.astro.build/en/guides/view-transitions/#astrobefore-swap
    document.addEventListener("astro:before-swap", ({ newDocument }) => {
        const isDark = getThemePreference() === "dark";
        newDocument.documentElement.classList.toggle("dark", isDark);
    });
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="author" content="Seren_Modz 21" />
        <meta
            name="keywords"
            content="Seren_Modz 21, SerenModz21, SerenModz, Seren Modz, Programmer, Developer, Gamer, Personal Site"
        />
        <link
            rel="icon"
            href="/favicon.ico"
            type="image/x-icon"
            sizes="32x32"
        />

        <title>{parsedTitle}</title>
        <meta name="description" content={parsedDescription} />
        <link rel="canonical" href={Astro.url} />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta property="og:type" content="website" />
        <meta property="og:title" content={parsedTitle} />
        <meta property="og:description" content={parsedDescription} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content={logoURL} />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="300" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@SerenModz21" />
        <meta name="twitter:creator" content="@SerenModz21" />

        <ViewTransitions />
    </head>
    <body class="min-h-screen antialiased">
        <slot />
        <TailwindIndicator />
    </body>
</html>
